<div class="col-md-3">
  <div class="row text-center">
      <label class="w-100 color-lighter">Descargá la App en Play-Store</label>
  </div>
  <div class="row text-center">
    <a href="" class="w-100 ">
      <img class="img-responsive android-icon" src="{{theme_path}}/images/android.svg" />
    </a>
  </div>
</div>